.env
.env.local
.env.*.local
node_modules/
apps/mobile/.dart_tool/
apps/mobile/build/
apps/mobile/ios/Flutter/ephemeral/
apps/mobile/macos/Flutter/ephemeral/
apps/mobile/linux/flutter/ephemeral/
apps/mobile/windows/flutter/ephemeral/
apps/mobile/.idea/
apps/web/dist/
